<form action="https://secure.telr.com/gateway/order.json"
 method="post">
<input name="ivp_store" type="hidden" value="23486">
<input name="ivp_amount" type="hidden" value="19.95">
<input name="ivp_currency" type="hidden" value="SAR">
<input name="ivp_method" type="hidden" value="create">
<input name="return_auth" type="hidden" value="http://alqadihospital.com/">
<input name="return_can" type="hidden" value="http://alqadihospital.com/">
<input name="return_decl" type="hidden" value="http://alqadihospital.com/">
<input name="ivp_test" type="hidden" value="1">
<input name="ivp_authkey" type="hidden" value="pZ58h~nb6K#cX6zL">

<input name="ivp_cart" type="hidden" value="1">
<input name="ivp_desc" type="hidden" value="Items">
<input name=”ivp_extra” type=”hidden” value=”none”>

<input type="submit" value="Purchase">
</form>
