
<div class="row">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Find the right doctors</mat-card-title>
      <mat-card-subtitle>NMCNAJRAN.COM</mat-card-subtitle>
    </mat-card-header>
  <img mat-card-image src="assets\images\Doctor.jpg" alt="doctos">
      
    <mat-card-content>
      <p>
      
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink='/speciality'><button  mat-button>View</button></a>
      
    </mat-card-actions>
  </mat-card>
  &nbsp;&nbsp;&nbsp;
  <div class="row">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Home healthcare</mat-card-title>
          <mat-card-subtitle>NMCNAJRAN.COM</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets\images\hhc.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
           
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a routerLink='/products'> <button mat-button>View</button></a>
          
        </mat-card-actions>
      </mat-card>
    
      </div>

      &nbsp;&nbsp;&nbsp;
      <div class="row">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pharmacy</mat-card-title>
              <mat-card-subtitle>NMCNAJRAN.COM</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\images\pharmacy.jpg" alt="Photo of a Shiba Inu">
              
            <mat-card-content>
              <p>
               
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink='/products'><button  mat-button>View</button></a>
              
            </mat-card-actions>
          </mat-card>
        
          </div>
     



</div>